<c-vars
    :autoresize="False"
    size="base"
    :resizable="True"
    :_size_classes="{
        'xs': 'h-10 text-xs',
        'sm': 'h-12 text-sm',
        'base': 'h-16 text-base',
        'lg': 'h-20 text-lg',
        'xl': 'h-24 text-xl'
    }"
/>

<textarea
    class="
        w-full
        p-2
        border
        border-gray-300
        dark:bg-zinc-800
        dark:border-zinc-700
        dark:text-zinc-300
        rounded-md
        shadow-sm
        focus:ring-indigo-500
        focus:border-indigo-500
        sm:text-sm
        {% if resizable == False %} resize-none{% endif %}
        {{ _size_classes|get_item:size }}
    "
    {{ attrs }}
    {% if autoresize %}
        x-data="{ resize: () => { $el.style.height = 'auto'; $el.style.height = $el.scrollHeight + 'px' } }"
        x-init="resize()"
        @input="resize()"
        style="overflow-y:hidden;"
    {% endif %}
>{{ slot }}</textarea> 