<c-vars
    variant="default"
    :variants="{
        'default': 'bg-white text-zinc-800 border border-zinc-200 dark:bg-zinc-400/30 dark:text-zinc-300 dark:border-zinc-300/20 shadow',
        'primary': 'bg-accent text-accent-foreground hover:bg-accent-content',
        'subtle': 'bg-zinc-100 text-zinc-600 dark:bg-zinc-300/10 dark:text-zinc-300',
        'danger': 'bg-red-500 text-white hover:bg-red-600',
        'ghost': 'bg-transparent text-zinc-800 dark:text-white hover:bg-zinc-100 dark:hover:bg-zinc-800',
    }"
    :outlined_variants="{
        'default': 'border border-zinc-200 text-zinc-800 dark:border-zinc-700 dark:text-zinc-300',
        'primary': 'border border-accent text-accent hover:bg-accent/10',
        'subtle': 'border border-zinc-200 text-zinc-800 dark:border-zinc-700 dark:text-zinc-300',
        'danger': 'border border-red-500 text-red-500 hover:bg-red-500/10',
        'ghost': 'border border-zinc-400 text-zinc-600 dark:border-zinc-600 dark:text-zinc-400',
    }"
    :outlined="False"
    class
/>

<button {{ attrs }} type="button" class="
    {% if outlined %}
        {{ outlined_variants|get_item:variant }}
    {% else %}
        {{ variants|get_item:variant }}
    {% endif %}
    cursor-pointer whitespace-nowrap rounded-md theme(radius.button)
    px-4 py-2.5 font-medium tracking-wide transition text-center
    focus-visible:outline
    focus-visible:outline-2
    focus-visible:outline-offset-2
    focus-visible:outline-accent
    active:opacity-100
    active:outline-offset-0
    disabled:opacity-75
    disabled:cursor-not-allowed
    {{ class }}">
    {{ slot }}
</button>
