<c-vars
    type="text"
    name=""
    value=""
    placeholder=""
    size=""
    label=""
    description=""
    description_trailing=""
    error=""
    badge=""
    form
    :disabled="False"
    :readonly="False"
    left_addon
    right_addon
/>

{% if label or description or description_trailing or error %}
    <c-ui.field
        label="{{ label }}"
        description="{{ description }}"
        description_trailing="{{ description_trailing }}"
        error="{{ error }}"
        badge="{{ badge }}"
        :form="form"
        name="{{ name }}">

        <c-ui.input.impl
            type="{{ type }}"
            name="{{ name }}"
            value="{{ value }}"
            placeholder="{{ placeholder }}"
            size="{{ size }}"
            :disabled="disabled"
            :readonly="readonly"
            :attrs="attrs"
            left_addon="{{ left_addon }}"
            right_addon="{{ right_addon }}"
        />
    </c-ui.field>
{% else %}
    <c-ui.input.impl
        type="{{ type }}"
        name="{{ name }}"
        value="{{ value }}"
        placeholder="{{ placeholder }}"
        size="{{ size }}"
        :disabled="disabled"
        :readonly="readonly"
        :attrs="attrs"
        left_addon="{{ left_addon }}"
        right_addon="{{ right_addon }}"
    />
{% endif %}
